
@{
    ViewBag.Title = "Biến động";
}

<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
    <li class="breadcrumb-item active">Biến động</li>
</ol>
<!-- begin page-header -->
<h1 class="page-header">@ViewBag.Title</h1>
<!-- end page-header -->
<hr />
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" id="btnThemMoi" type="button"><i class="fa fa-save"></i> Thêm mới</button>
        <button class="btn btn-warning" id="btnImport" type="button"><i class="fa fa-file-excel"></i> Import</button>
        <button class="btn btn-danger" id="btnDeleteSelected" type="button"><i class="fa fa-trash"></i> Xóa lựa chọn</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Danh sách biến động
            </div>
            <div class="panel-body">
                <table id="table_biendong" class="table table-bordered table-responsive" style="width: 100%;">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkall" /></th>
                            <th class="text-nowrap" width="80%">Tên biến động</th>
                            <th class="text-nowrap" width="20%">Thao tác</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="modal fade" id="BienDong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Cập nhật biến động</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body" id="frmBienDong">
                    <div class="form-group row m-b-15">
                        <label for="TenBienDong" class="col-md-3 col-form-label">Tên biến động: </label>
                        <div class="col-md-9">
                            <input type="hidden" id="idbiendong" />
                            <input class="form-control" id="TenBienDong" name="TenBienDong" type="text" />
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label for="MoTa" class="col-md-3 col-form-label">Mô tả: </label>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="5" id="MoTa" name="MoTa"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUpdate"><i class="fa fa-sync"></i> Cập nhật</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-window-close"></i> Đóng lại</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        activeMenu("liDanhMuc", "liDmBienDong");
        validator();
        loadData();
    });

    function loadData() {
        $("#table_biendong").DataTable({
            "ajax": {
                "url": "/DmBiendong/GetBienDong",
                "type": "GET",
                "datatype": "json",
                "contentType": "application/json;charset=UTF-8"
            },
            "columns": [
                {
                    "data": "BienDongId", "render": function (data) {
                        return "<input type='checkbox' class='checkitem' value='" + data + "' />";
                    }
                },
                { "data": "TenBienDong" },
                {
                    "data": "BienDongId", "render": function (data) {
                        return "<a class='fa fa-edit' href='#' data-toggle='tooltip' title='Cập nhật' onclick='return GetById(" + data + ")'></a>&nbsp;&nbsp;<a class='fa fa-trash' href='#' data-toggle='tooltip' title='Xóa' onclick='DeleteById(" + data + ")'></a>&nbsp;&nbsp;<a class='fa fa-calculator' href='#' data-toggle='tooltip' title='Cấu hình quy trình' onclick='SetQuyTrinh(" + data + ")'></a>"
                    }
                }
            ],
            destroy: true,
            ordering: false,
            paging: true,
            searching: true,
            bInfo: false
        });
    }

    //Xử lý nút check all
    $("#checkall").change(function () {
        $(".checkitem").prop("checked", $(this).prop("checked"))
    })

    $("#btnThemMoi").click(function () {
        $("#BienDong").modal('show');
        $("#idbiendong").val(0);
        $("#myModalLabel").text("Thêm mới biến động");
    })

    function GetById(Id) {
        $("#BienDong").modal('show');
        $("#idbiendong").val(Id);
        $.get('/DmBiendong/GetBienDongById', { BienDongId: Id }, function (data) {
            $("#TenBienDong").val(data.TenBienDong);
            $("#MoTa").val(data.MoTa);
        }, 'json').fail(function (error) {
            sweetalert("", "error", error.responseText);
        })
    }

    //Reset bootstrap validator
    $('#BienDong').on('hide.bs.modal', function () {
        $('#frmBienDong').bootstrapValidator('resetForm', true);
    });
    //Validate
    function validator() {
        $('#frmBienDong').bootstrapValidator({
            message: 'Giá trị không hợp lệ',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                TenBienDong: {
                    message: 'Tên sản phẩm không chính xác',
                    validators: {
                        notEmpty: {
                            message: 'Nhập tên biến động!'
                        }
                    }
                }
            }
        });
        var validatorObj = $('#frmBienDong').data('bootstrapValidator');
        validatorObj.validate();
        if (validatorObj.isValid()) {
            return true;
        }
        return false;
    }

    $("#btnUpdate").click(function () {
        var isValid = validator();
        if (isValid) {
            var obj = {
                BienDongId: $("#idbiendong").val(),
                TenBienDong: $("#TenBienDong").val(),
                MoTa: $("#MoTa").val()
            }
            $.ajax({
                url: "/DmBiendong/UpdateBienDong",
                data: JSON.stringify(obj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data == "addsuccess") {
                        sweetalert("Success", "success", "Thêm mới biến động thành công!")
                    }
                    else if (data == "updatesuccess") {
                        sweetalert("Success", "success", "Cập nhật biến động thành công!")
                    }
                    else {
                        sweetalert("Cảnh báo", "warning", "Có lỗi khi cập nhật biến động!")
                    }
                    loadData();
                    $("#BienDong").modal('hide');
                },
                error: function (errormessage) {
                    sweetalert("", "error", errormessage.responseText);
                }
            });
        }
    });

    function DeleteById(Id) {
        var ans = confirm("Bạn chắc chắn muốn xóa bản ghi?");
        if (ans) {
            $.post('/DmBiendong/DeleteByID/', { idbiendong: Id }, function (data) {
                if (data == "True") {
                    sweetalert("", "success", "Xóa bản ghi thành công!");
                    loadData();
                }
            }).fail(function (error) {
                sweetalert("Lỗi", "error", error.responseText);
            })
            
        }
    }

    //Xóa khi check nhiều dòng
    $("#btnDeleteSelected").click(function () {
        var id = $('.checkitem:checked').map(function () {
            return $(this).val()
        }).get().join(' ')
        if (id == "") {
            sweetalert("Thông báo", "warning", "Bạn chưa chọn đối tượng để xóa");
        }
        else {
            var ans = confirm("Bạn chắc chắn muốn xóa các bản ghi đã chọn?");
            if (ans) {
                $.post('/DmBiendong/DeleteByArrayId/', { idbiendong: id }, function (data) {
                    if (data == "True") {
                        sweetalert("", "success", "Xóa biến động thành công!")
                    }
                    else {
                        sweetalert("", "warning", "Có lỗi khi xóa!")
                    }
                    loadData();
                }).fail(function (error) {
                    sweetalert("Lỗi", "error", error.responseText);
                });
            }
        }
    }); 

</script>