
@{
    ViewBag.Title = "Báo cáo công nợ phải thu";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Báo cáo thống kê </a></li>
        <li class="breadcrumb-item active">Thống kê chi phí</li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2">
                            <div class="form-group" style="text-align:right;">
                                <label for="btnGroupTieuChi">Chọn tiêu chí:</label>
                            </div>
                        </div>
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="btn-group">
                                        <button id="btnNgay" class="btn btn-default waves-effect waves-light">Ngày chi tiết</button>
                                        <button id="btnThang" class="btn btn-default waves-effect waves-light">Tháng</button>
                                        <button id="btnQuy" class="btn btn-default waves-effect waves-light">Quý</button>
                                        <button id="btnNam" class="btn btn-default waves-effect waves-light">Năm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row form-horizontal" id="regionNgay">
                        <div class="col-xl-6">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="dtThoiGianLapBieuSearch_TuNgay">Từ ngày:</label>
                                        <div class="col-md-9">
                                            @*<input type="text" id="dtNgayPhatDongSearch_TuNgay" name="dtNgayPhatDongSearch_TuNgay" class="form-control" placeholder="">*@
                                            <div id="dateThoiGianLapBieuSearch_TuNgay" class="input-group date" data-date-format="dd/mm/yyyy"> <input id="dtNgay_TuNgay" name="dtNgay_TuNgay" placeholder="dd/mm/yyyy..." class="form-control" type="text"> <span class="input-group-addon"><i class="fa fa-lg fa-calendar"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="dtThoiGianLapBieuSearch_DenNgay">Đến ngày:</label>
                                        <div class="col-md-9">
                                            @*<input type="text" id="dtNgayPhatDongSearch_DenNgay" name="dtNgayPhatDongSearch_DenNgay" class="form-control" placeholder="">*@
                                            <div id="dateThoiGianLapBieuSearch_DenNgay" class="input-group date" data-date-format="dd/mm/yyyy"> <input id="dtNgay_DenNgay" name="dtNgay_DenNgay" placeholder="dd/mm/yyyy..." class="form-control" type="text"> <span class="input-group-addon"><i class="fa fa-lg fa-calendar"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-2">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-6" id="regionThang" style="display: none;">
                                    <div class="form-group">
                                        <label for="cbxThang">Tháng:</label>
                                        <select id="cbxThang" name="cbxThang" class="form-control">
                                            <option value="1">Tháng 1</option>
                                            <option value="2">Tháng 2</option>
                                            <option value="3">Tháng 3</option>
                                            <option value="4">Tháng 4</option>
                                            <option value="5">Tháng 5</option>
                                            <option value="6">Tháng 6</option>
                                            <option value="7">Tháng 7</option>
                                            <option value="8">Tháng 8</option>
                                            <option value="9">Tháng 9</option>
                                            <option value="10">Tháng 10</option>
                                            <option value="11">Tháng 11</option>
                                            <option value="12">Tháng 12</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6" id="regionNam" style="display: none;">
                                    <div class="form-group">
                                        <label for="cbxNam">Năm:</label>
                                        <select id="cbxNam" name="cbxNam" class="form-control">
                                            @for (int i = 0; i < 100; i++)
                                            {
                                                <option value="@(DateTime.Now.Year - i)">@(DateTime.Now.Year - i)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="regionQuy" style="display: none;">
                        <div class="col-xl-2">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label for="cbxQuy">Quý:</label>
                                        <select id="cbxQuy" name="cbxQuy" class="form-control">
                                            <option value="1">Quý 1</option>
                                            <option value="2">Quý 2</option>
                                            <option value="3">Quý 3</option>
                                            <option value="4">Quý 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-2">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label for="loaiCongNo">Loại công nợ:</label>
                                        <select id="loaiCongNo" name="loaiCongNo" class="form-control">
                                            <option value="1">Công nợ phải thu</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end mb-0">
                        <div class="col-md-12">
                            <button class="btn btn-danger waves-effect waves-light" id="btnTimKiem"><i class="fa fa-search"></i> Tìm kiếm</button>
                            <button class="btn btn-danger waves-effect waves-light" id="btnXuatExcel"><i class="fa fa-download"></i> Xuất Excel</button>
                        </div>
                    </div>
                    <br />
                    <table id="table_TKCF" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%; ">
                    </table>
                    @*<div class="form-group row justify-content-end mb-0">
            <div class="col-md-12">
                <a class="btn btn-info waves-effect waves-light" href="/BaoCaoThongKe/Index"><i class="fa fa-arrow-alt-circle-left"></i> Quay lại</a>
            </div>
        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var flag_bt = 0;

    $(document).ready(function () {
        activeMenu("liBaoCao", "liBaocaoCongNoPhaiThu");
        $("#dateThoiGianLapBieuSearch_TuNgay").datepicker({
            autoclose: true,
            todayHighlight: true,
            orientation: 'bottom'
        }).datepicker('update');
        $("#dateThoiGianLapBieuSearch_DenNgay").datepicker({
            autoclose: true,
            todayHighlight: true,
            orientation: 'bottom'
        }).datepicker('update');
        setDate();
    });

    function setDate() {
        var toDay = new Date();
        $("#dateThoiGianLapBieuSearch_TuNgay").datepicker('setDate', toDay);
        $("#dateThoiGianLapBieuSearch_DenNgay").datepicker('setDate', toDay);
    }
    $("#btnNgay").click(function () {
        $("#regionNgay").css("display", "");
        $("#regionThang").css("display", "none");
        $("#regionQuy").css("display", "none");
        $("#regionNam").css("display", "none");
        flag_bt = 0;
    })
    $("#btnThang").click(function () {
        $("#regionNgay").css("display", "none");
        $("#regionThang").css("display", "");
        $("#regionQuy").css("display", "none");
        $("#regionNam").css("display", "");
        flag_bt = 1;
    })
    $("#btnQuy").click(function () {
        $("#regionNgay").css("display", "none");
        $("#regionThang").css("display", "none");
        $("#regionQuy").css("display", "");
        $("#regionNam").css("display", "");
        flag_bt = 2;
    })
    $("#btnNam").click(function () {
        $("#regionNgay").css("display", "none");
        $("#regionThang").css("display", "none");
        $("#regionQuy").css("display", "none");
        $("#regionNam").css("display", "");
        flag_bt = 3;
    })
    function getMocThoiGian(flag) {
        var result = [];
        var tuNgay = "", denNgay = "";
        if (flag_bt == 0) {
            result.push($("#dtNgay_TuNgay").val());
            result.push($("#dtNgay_DenNgay").val());
        }
        if (flag_bt == 1) {
            var lastDayOfMonth = getLastDay($("#cbxNam").val(), $("#cbxThang").val()) - 1;
            console.log(lastDayOfMonth);
            if ($("#cbxThang").val() < 10) {
                tuNgay = "01" + "/0" + $("#cbxThang").val() + "/" + $("#cbxNam").val();
                denNgay = lastDayOfMonth + "/0" + $("#cbxThang").val() + "/" + $("#cbxNam").val();
            }
            else {
                tuNgay = "01" + "/" + $("#cbxThang").val() + "/" + $("#cbxNam").val();
                denNgay = lastDayOfMonth + "/" + $("#cbxThang").val() + "/" + $("#cbxNam").val();
            }

            result.push(tuNgay);
            result.push(denNgay);
        }
        if (flag_bt == 2) {
            var quy = $("#cbxQuy").val();
            if (quy == 1) {
                tuNgay = "01/01/" + $("#cbxNam").val();
                denNgay = "31/03/" + $("#cbxNam").val();
            }
            if (quy == 2) {
                tuNgay = "01/04/" + $("#cbxNam").val();
                denNgay = "30/06/" + $("#cbxNam").val();
            }
            if (quy == 3) {
                tuNgay = "01/07/" + $("#cbxNam").val();
                denNgay = "30/09/" + $("#cbxNam").val();
            }
            if (quy == 4) {
                tuNgay = "01/10/" + $("#cbxNam").val();
                denNgay = "31/12/" + $("#cbxNam").val();
            }
            result.push(tuNgay);
            result.push(denNgay);
        }
        if (flag_bt == 3) {
            tuNgay = "01/01/" + $("#cbxNam").val();
            denNgay = "31/12/" + $("#cbxNam").val();
            result.push(tuNgay);
            result.push(denNgay);
        }
        return result;
    }
    function getLastDay(year, month) {
        return new Date(year, month + 1, 0).getDate();
    }

    function removeToShortDay(day) {
        var spl = day.split(" ");
        return spl[0];
    }
    $("#btnTimKiem").click(function () {
        hienThiBaoCao();
    });


    $("#btnXuatExcel").click(function () {
        if (confirm('Bạn có muốn xuất dữ liệu theo tiêu chí được chọn?')) {
            var time = getMocThoiGian(flag_bt);
            var url = '@Url.Action("ExportExcelBaoCaoThongke", "BaoCaoCongNoPhaiThu", new RouteValueDictionary(new { from = "t_from", to = "t_to", loaiCongNo = "t_loaiCongNo" }))'.replace("t_from", encodeURIComponent(time[0]));
            url = url.replace("t_to", encodeURIComponent(time[1]));
            url = url.replace("t_loaiCongNo", encodeURIComponent($("#loaiCongNo").val()));

            url = url.replace(/&amp;/g, "&");
            window.location.href = url;

        }
    });
    function hienThiBaoCao() {
        //console.log(getMocThoiGian(flag_bt));
        var html = "";
        var time = getMocThoiGian(flag_bt);
        html += "<thead><tr><th>STT</th><th>Mã chuyến</th><th>Mã xe</th><th>Mã lái xe</th><th>Mã khách hàng</th><th>Thời gian lập phiếu</th><th>Nội dung làm việc</th><th>Nơi đi</th><th>Nơi đến</th><th>Giá chưa thuế(VND)</th><th>VAT(%)</th><th>Tổng tiền thanh toán(VND)</th></tr></thead>";
        $("#table_TKCF").html(html);


        $.ajax({
            url: "/BaoCaoCongNoPhaiThu/getBaoCaoCongNoPhaiThu",
            type: "GET",
            dataType: "json",
            data: {
                from: time[0],
                to: time[1],
                loaiCongNo: $("#loaiCongNo").val()
            },
            beforeSend: function () {
                $("#overlay").fadeIn(300);
            },
            success: function (data) {
                // Do stuff...
                console.log(data);
                if (data.data.length > 0) {
                    html += "<tbody>";
                    $.each(data.data, function (key, item) {

                        html += '<tr><td width="1%">' + (item.stt != 0 ? item.stt : "") + '</td><td>' + item.maChuyen + '</td><td>' + item.maXe + '</td><td>' + (item.laiXe != 0 ? item.laiXe : "") + '</td><td>' + (item.maKhachHang != null ? item.maKhachHang : "") + '</td><td>' + (item.thoiGianLapPhieu != null ? item.thoiGianLapPhieu : "") + '</td><td>' + (item.noiDungLamViec != null ? item.noiDungLamViec : "") + '</td><td>' + (item.noiDi != null ? item.noiDi : "") + '</td><td>' + (item.noiDen != null ? item.noiDen : "") + '</td><td>' + (item.giaChuaThue != null ? item.giaChuaThue : "") + '</td><td>' + (item.vat != null ? item.vat : "") + '</td><td>' + (item.tongThanhToan != null ? item.tongThanhToan : "") + '</td></tr>';

                    });
                    html += "</tbody>";
                    console.log(html);
                    $("#table_TKCF").html(html);

                }
                else {
                    html += "<tr><td colspan='12' style='text-align: center;'>Không có nội dung hiển thị</td></tr>";
                    $("#table_TKCF").html(html);
                }
            },
            complete: function () {
                $("#overlay").fadeOut(300);
            }
        });
    }

</script>

