
@{
    ViewBag.Title = "Chi phí lịch trình xe";
}

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" id="btnThemMoi" type="button"><i class="fa fa-save"></i> Thêm mới</button>
        <button class="btn btn-warning" id="btnImport" type="button"><i class="fa fa-file-excel"></i> Import</button>
        <button class="btn btn-danger" id="btnDeleteSelected" type="button"><i class="fa fa-trash"></i> Xóa lựa chọn</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Danh sách chi phí lịch trình xe
            </div>
            <div class="panel-body">
                <table id="table_chiphilichtrinhxe" class="table table-bordered table-responsive" style="width: 100%;">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkall" /></th>
                            <th class="text-nowrap" width="20%">Mã lịch trình</th>
                            <th class="text-nowrap" width="15%">Loại chi phí</th>
                            <th class="text-nowrap" width="30%">Tên chi phí</th>
                            <th class="text-nowrap" width="20%">Giá tiền(VND)</th>                            
                            <th class="text-nowrap" width="15%">Thao tác</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="modal fade" id="ChiPhiLT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Cập nhật chi phí lịch trình xe</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body" id="frmChiPhiLT">
                    <input type="hidden" id="idChiPhiLT" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="MaLichTrinh" class="control-label">Mã lich trình: </label>
                                <select id="cbbMaLichTrinh" name="cbbMaLichTrinh" class="form-control">
                                </select>

                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="LoaiChiPhi" class="control-label">Loại Chi Phí: </label>

                                <select id="LoaiChiPhi" name="LoaiChiPhi" class="form-control">
                                    <option value="">--Chọn loại chi phí--</option>
                                    <option value="1">Chi phí 1</option>
                                    <option value="2">Chi Phí 2</option>
                                    <option value="3">Chi phí 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="TenChiPhi" class="control-label">Tên Chi Phí: </label>
                                <input class="form-control" id="TenChiPhi" name="TenChiPhi" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="GiaTien" class="control-label">Giá tiền: </label>
                                <input class="form-control" id="GiaTien" name="GiaTien" type="text" />
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUpdate"><i class="fa fa-sync"></i> Cập nhật</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-window-close"></i> Đóng lại</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        activeMenu("liDanhMuc", "liChiPhiLTX");
        loadData();
        GetLichTrinhXe();
        

    });
    function loadData() {
        $("#table_chiphilichtrinhxe").DataTable({
            "ajax": {
                "url": "/ChiPhiLichTrinhXe/GetListChiPhiLichTrinhXe",
                "type": "GET",
                "datatype": "json",
                "contentType": "application/json;charset=UTF-8"
            },
            "columns": [
                {
                    "data": "id", "render": function (data) {
                        return "<input type='checkbox' class='checkitem' value='" + data + "' />";
                    }
                },
                { "data": "maChuyen" },
                {
                    "data": "loaiChiPhi", "render": function (data) {
                        console.log(data);
                        if (data == "1")
                            return "Chi phí 1";
                        if (data == "2")
                            return "Chi phí 2";
                        if (data == "3")
                            return "Chi phí 3";

                    }

                },
                { "data": "tenChiPhi" },
                { "data": "giaTien" },
                {
                    "data": "id", "render": function (data) {
                        return "<a class='fa fa-edit' href='#' data-toggle='tooltip' title='Cập nhật' onclick='return GetById(" + data + ")'></a>&nbsp;&nbsp;<a class='fa fa-trash' href='#' data-toggle='tooltip' title='Xóa' onclick='DeleteById(" + data + ")'></a>"
                    }
                }
            ],
            destroy: true,
            ordering: false,
            paging: true,
            searching: true,
            bInfo: false,
            deferRender: true
        });
        //Xử lý nút check all
        $("#checkall").change(function () {
            $(".checkitem").prop("checked", $(this).prop("checked"))
        })

        $("#btnThemMoi").click(function () {
            $("#ChiPhiLT").modal('show');
            $("#idChiPhiLT").val(0);
            $("#myModalLabel").text("Thêm mới chi phí lịch trình xe");
            $("#TenChiPhi").val("");
            $("#GiaTien").val("");

        })
        //Reset bootstrap validator
        $('#ChiPhiLT').on('hide.bs.modal', function () {
            $('#frmChiPhiLT').bootstrapValidator('resetForm', true);
        });
        //Validate

    }
    function validator() {
        $('#frmChiPhiLT').bootstrapValidator({
            message: 'Giá trị không hợp lệ',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                cbbMaLichTrinh: {
                    validators: {
                        notEmpty: {
                            message: 'Chọn mã chuyến!'
                        }
                    }
                },
                TenChiPhi: {
                    validators: {
                        notEmpty: {
                            message: 'Nhập tên chi phí!'
                        }
                    }
                },
                GiaTien: {
                    validators: {
                        numeric: {
                            message: 'Vui lòng chỉ sử dụng số.',
                        },
                        notEmpty: {
                            message: 'Nhập giá tiền!'
                        }
                    }
                },

            }

        });
        var validatorObj = $('#frmChiPhiLT').data('bootstrapValidator');
        validatorObj.validate();
        if (validatorObj.isValid()) {
            return true;
        }
        return false;
    }
    function GetLichTrinhXe() {
        $.get('/ChiPhiLichTrinhXe/GetLichTrinhXe', function (data) {
            var html = '';
            html = '<option value="">--Chọn mã chuyến--</option>'

            $.each(data, function (key, item) {
                //console.log("ds", data);

                html += '<option value = ' + item.id + '>' + item.maChuyen + '</option>';



            });
            $('#cbbMaLichTrinh').html(html);
        })
    }
    $("#btnUpdate").click(function () {
        

        var isValid = validator();
        if (isValid) {
            var obj = {
                id: $("#idChiPhiLT").val(),
                MaLichTrinh: $("#cbbMaLichTrinh").val(),
                LoaiChiPhi: $("#LoaiChiPhi").val(),
                TenChiPhi: $("#TenChiPhi").val(),
                GiaTien: $("#GiaTien").val(),
            }
            $.ajax({
                url: "/ChiPhiLichTrinhXe/UpdateChiPhiLichTrinhXe",
                data: JSON.stringify(obj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log(data);
                    if (data == "addsuccess") {
                        sweetalert("Success", "success", "Thêm mới biến động thành công!")
                    }
                    else if (data == "updatesuccess") {
                        sweetalert("Success", "success", "Cập nhật biến động thành công!")
                    }
                    else {
                        sweetalert("Cảnh báo", "warning", "Có lỗi khi cập nhật biến động!")
                    }
                    loadData();
                    $("#ChiPhiLT").modal('hide');
                },
                error: function (errormessage) {
                    sweetalert("", "error", errormessage.responseText);
                }
            });
        }
    });
    function GetById(Id) {
        $("#ChiPhiLT").modal('show');
        $("#idChiPhiLT").val(Id);
        $("#myModalLabel").text("Chỉnh sửa chi phí lịch trình xe");

        $.get('/ChiPhiLichTrinhXe/GetChiPhiLichTrinhXeById', { id: Id }, function (data) {
            console.log(data);
            $("#cbbMaLichTrinh").val(data.idLichTrinhXe);
            $("#LoaiChiPhi").val(data.loaiChiPhi);
            $("#TenChiPhi").val(data.tenChiPhi);
            $("#GiaTien").val(data.giaTien);
        }, 'json').fail(function (error) {
            sweetalert("", "error", error.responseText);
        })
    }
    function DeleteById(Id) {
        var ans = confirm("Bạn chắc chắn muốn xóa bản ghi?");
        if (ans) {
            $.post('/ChiPhiLichTrinhXe/DeleteByID/', { idchiphilichtrinhxe: Id }, function (data) {
                if (data == "True") {
                    sweetalert("", "success", "Xóa bản ghi thành công!");
                    loadData();
                }
            }).fail(function (error) {
                sweetalert("Lỗi", "error", error.responseText);
            })

        }
    }

    //Xóa khi check nhiều dòng
    $("#btnDeleteSelected").click(function () {
        var id = $('.checkitem:checked').map(function () {
            return $(this).val()
        }).get().join(' ')
        if (id == "") {
            sweetalert("Thông báo", "warning", "Bạn chưa chọn đối tượng để xóa");
        }
        else {
            var ans = confirm("Bạn chắc chắn muốn xóa các bản ghi đã chọn?");
            if (ans) {
                $.post('/ChiPhiLichTrinhXe/DeleteByArrayId/', { idchiphilichtrinhxe: id }, function (data) {
                    if (data == "True") {
                        sweetalert("", "success", "Xóa biến động thành công!")
                    }
                    else {
                        sweetalert("", "warning", "Có lỗi khi xóa!")
                    }
                    loadData();
                }).fail(function (error) {
                    sweetalert("Lỗi", "error", error.responseText);
                });
            }
        }
    });
</script>

