
@{
    ViewBag.Title = "Loại hình tổ chức";
}

<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
    <li class="breadcrumb-item active">Loại hình tổ chức</li>
</ol>
<!-- begin page-header -->
<h1 class="page-header">@ViewBag.Title</h1>
<!-- end page-header -->
<hr />
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" id="btnThemMoi" type="button"><i class="fa fa-save"></i> Thêm mới</button>
        <button class="btn btn-warning" id="btnImport" type="button"><i class="fa fa-file-excel"></i> Import</button>
        <button class="btn btn-danger" id="btnDeleteSelected" type="button"><i class="fa fa-trash"></i> Xóa lựa chọn</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Danh sách loại hình tổ chức
            </div>
            <div class="panel-body">
                <table id="table_loaihtc" class="table table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkall" /></th>
                            <th class="text-nowrap" width="80%">Tên loại hình</th>
                            <th class="text-nowrap" width="20%">Thao tác</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="modal fade" id="LoaiHTC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Cập nhật loại hình tổ chức</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body" id="frmLoaiHTC">
                    <div class="form-group row m-b-15">
                        <label for="TenLoaiHTC" class="col-md-3 col-form-label">Tên loại hình: </label>
                        <div class="col-md-9">
                            <input type="hidden" id="idloaihtc" />
                            <input class="form-control" id="TenLoaiHTC" name="TenLoaiHTC" type="text" />
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label for="MoTa" class="col-md-3 col-form-label">Mô tả: </label>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="5" id="MoTa" name="MoTa"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUpdate"><i class="fa fa-sync"></i> Cập nhật</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-window-close"></i> Đóng lại</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ToChuc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">Cấp tổ chức khai thác loại hình</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body" style="overflow:scroll; height: 400px">
                    <table id="table_tochuc" class="table table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                                <th width="5%"><input type="checkbox" id="checkalltc" /></th>
                                <th class="text-nowrap" width="95%">Cấp tổ chức</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUpdateTc"><i class="fa fa-sync"></i> Cập nhật</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-window-close"></i> Đóng lại</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        activeMenu("liDanhMuc", "liDmLoaiHTC");
        validator();
        loadData();
    });

    function loadData() {
        $("#table_loaihtc").DataTable({
            "ajax": {
                "url": "/DmLoaiHTC/GetLoaiHinhToChuc",
                "type": "GET",
                "datatype": "json",
                "contentType": "application/json;charset=UTF-8"
            },
            "columns": [
                {
                    "data": "LoaiHinhToChucId", "render": function (data) {
                        return "<input type='checkbox' class='checkitem' value='" + data + "' />";
                    }
                },
                { "data": "TenLoaiHinhToChuc" },
                {
                    "data": "LoaiHinhToChucId", "render": function (data) {
                        return "<a class='fa fa-edit' href='#' data-toggle='tooltip' title='Cập nhật' onclick='return GetById(" + data + ")'></a>&nbsp;&nbsp;<a class='fa fa-trash' href='#' data-toggle='tooltip' title='Xóa' onclick='DeleteById(" + data + ")'></a>&nbsp;&nbsp;<a class='fa fa-database' href='#' data-toggle='tooltip' title='Cấu hình cấp tổ chức' onclick='SetCapTC(" + data + ")'></a>"
                    }
                }
            ],
            destroy: true,
            ordering: false,
            paging: true,
            searching: true,
            bInfo: false
        });
    }

    //Xử lý nút check all
    $("#checkall").change(function () {
        $(".checkitem").prop("checked", $(this).prop("checked"))
    })

    $("#checkalltc").change(function () {
        $(".checkitemtc").prop("checked", $(this).prop("checked"))
    })

    $("#btnThemMoi").click(function () {
        $("#LoaiHTC").modal('show');
        $("#idloaihtc").val(0);
        $("#myModalLabel").text("Thêm mới loại hình tổ chức");
    })

    function GetById(Id) {
        $("#LoaiHTC").modal('show');
        $("#idloaihtc").val(Id);
        $("#myModalLabel").text("Cập nhật loại hình tổ chức");
        $.get('/DmLoaiHTC/GetLoaiHTCById', { LoaiHTCId: Id }, function (data) {
            $("#TenLoaiHTC").val(data.TenLoaiHinhToChuc);
            $("#MoTa").val(data.MoTa);
        }, 'json').fail(function (error) {
            sweetalert("", "error", error.responseText);
        })
    }

    //Reset bootstrap validator
    $('#LoaiHTC').on('hide.bs.modal', function () {
        $('#frmLoaiHTC').bootstrapValidator('resetForm', true);
    });
    //Validate
    function validator() {
        $('#frmLoaiHTC').bootstrapValidator({
            message: 'Giá trị không hợp lệ',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                TenLoaiHTC: {
                    message: 'Tên loại hình tổ chức không chính xác',
                    validators: {
                        notEmpty: {
                            message: 'Nhập tên loại hình tổ chức!'
                        }
                    }
                }
            }
        });
        var validatorObj = $('#frmLoaiHTC').data('bootstrapValidator');
        validatorObj.validate();
        if (validatorObj.isValid()) {
            return true;
        }
        return false;
    }

    $("#btnUpdate").click(function () {
        var isValid = validator();
        if (isValid) {
            var obj = {
                LoaiHinhToChucId: $("#idloaihtc").val(),
                TenLoaiHinhToChuc: $("#TenLoaiHTC").val(),
                MoTa: $("#MoTa").val()
            }
            $.ajax({
                url: "/DmLoaiHTC/UpdateLoaiHinhTC",
                data: JSON.stringify(obj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data == "addsuccess") {
                        sweetalert("Success", "success", "Thêm mới loại hình tổ chức thành công!")
                    }
                    else if (data == "updatesuccess") {
                        sweetalert("Success", "success", "Cập nhật loại hình tổ chức thành công!")
                    }
                    else {
                        sweetalert("Cảnh báo", "warning", "Có lỗi khi cập nhật loại hình tổ chức!")
                    }
                    loadData();
                    $("#LoaiHTC").modal('hide');
                },
                error: function (errormessage) {
                    sweetalert("", "error", errormessage.responseText);
                }
            });
        }
    });

    function DeleteById(Id) {
        var ans = confirm("Bạn chắc chắn muốn xóa bản ghi?");
        if (ans) {
            $.post('/DmLoaiHTC/DeleteByID/', { idloaihtc: Id }, function (data) {
                if (data == "True") {
                    sweetalert("", "success", "Xóa bản ghi thành công!");
                    loadData();
                }
            }).fail(function (error) {
                sweetalert("Lỗi", "error", error.responseText);
            })

        }
    }

    //Xóa khi check nhiều dòng
    $("#btnDeleteSelected").click(function () {
        var id = $('.checkitem:checked').map(function () {
            return $(this).val()
        }).get().join(' ')
        if (id == "") {
            sweetalert("Thông báo", "warning", "Bạn chưa chọn đối tượng để xóa");
        }
        else {
            var ans = confirm("Bạn chắc chắn muốn xóa các bản ghi đã chọn?");
            if (ans) {
                $.post('/DmLoaiHTC/DeleteByArrayId/', { idloaihtc: id }, function (data) {
                    if (data == "True") {
                        sweetalert("", "success", "Xóa biến động thành công!")
                    }
                    else {
                        sweetalert("", "warning", "Có lỗi khi xóa!")
                    }
                    loadData();
                }).fail(function (error) {
                    sweetalert("Lỗi", "error", error.responseText);
                });
            }
        }
    });

    function SetCapTC(id) {
        $('#ToChuc').modal('show');
        $("#idloaihtc").val(id);
        $("#table_tochuc").DataTable({

            "ajax": {
                "url": "/CapToChuc/GetListCapToChucByLoaiHTC/" + id,
                "type": "GET",
                "datatype": "json",
                "contentType": "application/json;charset=UTF-8"
            },
            "columns": [
                {
                    "data": "ID", "render": function (data, type, row, meta) {
                        if (row["Selected"]) {
                            return "<input type='checkbox' class='checkitemtc' value='" + data + "' checked />";
                        }
                        return "<input type='checkbox' class='checkitemtc' value='" + data + "' />";
                    }
                },
                { "data": "TenCapToChuc" },
                { "data": "Selected" }
            ],
            "columnDefs": [
                {
                    "targets": [2],
                    "visible": false,
                    "searchable": false
                }
            ],
            destroy: true,
            ordering: false,
            paging: false,
            searching: false,
            bInfo: false
        });
    }

    $("#btnUpdateTc").click(function () {
        var id = $('.checkitemtc:checked').map(function () {
            return $(this).val()
        }).get().join(' ')
        $.post('/CapToChuc/CapToChucForLoaiHTC/', { idloaihtc: $("#idloaihtc").val(), idtochuc: id }, function (data) {
            if (data == "True") {
                sweetalert("", "success", "Cấp tổ chức thành công!")
            }
            else {
                sweetalert("", "warning", "Có lỗi khi cấp tổ chức!")
            }
        });
        $('#ToChuc').modal('hide');
    })
</script>